.StP-ButtonNav {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #3369ff;
  text-align: center;
  -webkit-box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
          box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.StP-ButtonNav:hover {
  background-color: green;
}

.StP-ButtonNav:hover a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0.4em auto;
}

.StP-ButtonNav:hover a:hover {
  background-color: #eceaea;
}

.StP-ButtonNav:hover a:active {
  top: 0;
}

.selectedbutton {
  background-color: green;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.selectedbutton:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.StP-Sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.StP-Sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.StP-Sidenav a a:hover {
  color: #ffffff;
}

.Main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  max-width: 1200px;
  height: 900px;
  margin: auto;
}

.StP-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  max-width: 1200px;
  max-height: 900px;
  height: auto;
  margin: auto;
}

.SeP-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  max-width: 1200px;
  max-height: 900px;
  height: auto;
  margin: auto;
}

.FiP-twothird {
  margin: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  clear: both;
}

@-webkit-keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

#FirstPage {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}

#SecondPage {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s;
}

#ThirdPage {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}

#FourthPage {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.StP-Bouncy {
  -webkit-animation: bouncy 5s infinite linear;
          animation: bouncy 5s infinite linear;
  position: relative;
}

.FiP-third {
  margin: 5px;
  float: left;
  width: auto;
  color: #000;
  line-height: 1.5;
}

.FiP-info {
  width: 1.28571429em;
  text-align: center;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.FiP-row-padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FiP-p {
  display: block;
}

.FiP-text-teal {
  color: #009688;
}

.FiP-light-grey {
  color: #000;
  background-color: #f1f1f1;
  font-size: 12px;
  border-radius: 16px;
}

.FiP-center1 {
  width: 90%;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(14%, #6699ff), to(#ff99cc));
  background: linear-gradient(to right, #6699ff 14%, #ff99cc 100%);
}

.FiP-center2 {
  width: 80%;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(14%, #33ccff), to(#ff99cc));
  background: linear-gradient(to right, #33ccff 14%, #ff99cc 100%);
}

.FiP-center3 {
  width: 75%;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(14%, #6699ff), to(#ff99cc));
  background: linear-gradient(to right, #6699ff 14%, #ff99cc 100%);
}

.FiP-center4 {
  width: 50%;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(14%, #33ccff), to(#ff99cc));
  background: linear-gradient(to right, #33ccff 14%, #ff99cc 100%);
}

span.FiP-Burger {
  font-size: 30px;
  cursor: pointer;
}

.FiP-round-xlarge1 {
  height: 24px;
  width: 100%;
  border-radius: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #053852 repeating-linear-gradient(135deg, #053852, #053852 10px, #1679ad 10px, #1679ad 20px, #053852 20px);
  -webkit-box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3), inset 2px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3), inset 2px 2px rgba(255, 255, 255, 0.3);
  -webkit-transition: background-position 999999s, color 999999s, text-shadow 999999s;
  transition: background-position 999999s, color 999999s, text-shadow 999999s;
}

.FiP-round-xlarge1:enabled, .FiP-round-xlarge1:hover {
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
  background: #0175b1 repeating-linear-gradient(135deg, #0175b1, #0175b1 10px, #8fd2f5 10px, #8fd2f5 20px, #0175b1 20px) repeat;
  background-size: 1000% 100%;
}

.FiP-round-xlarge2 {
  height: 24px;
  width: 50%;
  border-radius: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #053852 repeating-linear-gradient(135deg, #053852, #053852 10px, #1679ad 10px, #1679ad 20px, #053852 20px);
  -webkit-box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3), inset 2px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3), inset 2px 2px rgba(255, 255, 255, 0.3);
  -webkit-transition: background-position 999999s, color 999999s, text-shadow 999999s;
  transition: background-position 999999s, color 999999s, text-shadow 999999s;
}

.FiP-round-xlarge2:hover {
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
  background: #0175b1 repeating-linear-gradient(135deg, #0175b1, #0175b1 10px, #8fd2f5 10px, #8fd2f5 20px, #0175b1 20px) repeat;
  background-size: 1000% 100%;
}

.FiP-round-xlarge3 {
  height: 24px;
  width: 30%;
  border-radius: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #053852 repeating-linear-gradient(135deg, #053852, #053852 10px, #1679ad 10px, #1679ad 20px, #053852 20px);
  -webkit-box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3), inset 2px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3), inset 2px 2px rgba(255, 255, 255, 0.3);
  -webkit-transition: background-position 999999s, color 999999s, text-shadow 999999s;
  transition: background-position 999999s, color 999999s, text-shadow 999999s;
}

.FiP-round-xlarge3:hover {
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
  background: #0175b1 repeating-linear-gradient(135deg, #0175b1, #0175b1 10px, #8fd2f5 10px, #8fd2f5 20px, #0175b1 20px) repeat;
  background-size: 1000% 100%;
}

.FiP-card {
  padding: 0.01em 16px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.FiP-image {
  width: 100%;
  vertical-align: middle;
  border-style: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: #757575;
}

.FiP-SocialMedia {
  color: #fff;
  background-color: #0a37fc;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
}

@-webkit-keyframes bouncing {
  0% {
    bottom: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    bottom: 50px;
    -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  }
}

@keyframes bouncing {
  0% {
    bottom: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    bottom: 50px;
    -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  }
}

a.StP-Button2 {
  position: relative;
  display: inline-block;
  font-size: 100%;
  font-weight: 700;
  color: #fff;
  text-shadow: #053852 -1px 1px, #053852 1px 1px, #053852 1px -1px, #053852 -1px -1px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .3em .7em;
  outline: none;
  border-radius: 7px;
  background: #053852 repeating-linear-gradient(135deg, #053852, #053852 10px, #1679ad 10px, #1679ad 20px, #053852 20px);
  -webkit-box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3), inset 2px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3), inset 2px 2px rgba(255, 255, 255, 0.3);
  -webkit-transition: background-position 999999s, color 999999s, text-shadow 999999s;
  transition: background-position 999999s, color 999999s, text-shadow 999999s;
}

a.StP-Button2:hover, a.StP-Button2:focus {
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
  background: #0175b1 repeating-linear-gradient(135deg, #0175b1, #0175b1 10px, #8fd2f5 10px, #8fd2f5 20px, #0175b1 20px) no-repeat;
  background-size: 1000% 100%;
}

a.StP-Button2:hover {
  background-position: 0 0;
}

a.StP-Button2:focus {
  color: rgba(255, 255, 255, 0);
  text-shadow: rgba(1, 117, 177, 0) -1px 1px, rgba(1, 117, 177, 0) 1px 1px, rgba(1, 117, 177, 0) 1px -1px, rgba(1, 117, 177, 0) -1px -1px;
  background-position: 900% 0;
  -webkit-transition: background-position linear 600s, color .5s, text-shadow .5s;
  transition: background-position linear 600s, color .5s, text-shadow .5s;
}

a.StP-Button2:after {
  content: "Loading\2026";
  position: absolute;
  top: 0;
  left: 0;
  padding: .3em .7em;
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
  -webkit-transition: 999999s;
  transition: 999999s;
}

a.StP-Button2:focus:after {
  color: #fff;
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
  -webkit-transition: .5s;
  transition: .5s;
}

.StP-SocialMedia {
  color: white;
}

.fa .StP-SocialMedia {
  color: white;
  background-color: white;
}

i.fa.StP-SocialMedia {
  padding-right: 10px;
  margin-left: 10px;
}

iframe.StP-IFrame {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.StP-Iframesection {
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.StP-CloseBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.FiP-CloseBtn {
  position: absolute;
  bottom: 150px;
  font-size: 36px;
  margin-left: 50px;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#ThP-Container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.SeP-image {
  width: 143%;
  height: 460px;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
}

@media (max-width: 450px) {
  .FiP-image {
    width: 100%;
    height: auto;
  }
}

.Fhp-work-body {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 30px;
  font-size: 17px;
  font-weight: 500;
}

.FhP-hover {
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
}

p {
  display: block;
}

#portfolio {
  padding: 100px 0px;
  background: #f4faff;
}

#portfolio h3 {
  text-align: center;
  font-size: 40px;
  color: #091520;
  font-weight: 500;
  margin-bottom: 60px;
}

#portfolio h3 span {
  color: #7e6cff;
  font-weight: 300;
  letter-spacing: -5px;
  margin-right: 20px;
  display: inline-block;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
}

#portfolio h3 a {
  color: #fff;
  background: #091520;
  border: 0;
  text-transform: uppercase;
  padding: 17px 29px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 0.9px;
  margin-top: 18px;
  display: inline-block;
  font-weight: 300;
  margin-left: 29px;
  position: Relative;
  top: -8px;
}

#portfolio h3 a:hover {
  background: #3a3a3a;
}

#portfolio .items {
  font-size: 0;
}

#portfolio .items .work-item {
  display: inline-block;
  width: 25%;
  margin-bottom: 20px;
}

#portfolio .items .work-item .FhP-work-body {
  padding: 10px;
}

#portfolio .items .work-item .FhP-work-body .title {
  font-size: 24px;
  color: #08141f;
}

#portfolio .items .work-item .FhP-work-body .title span {
  background: #25459a;
  height: 2px;
  width: 18px;
  display: inline-block;
  position: relative;
  top: 1px;
}

#portfolio .items .work-item .FhP-work-body .image {
  background: #f7f7f7;
  width: 100%;
  height: 292px;
  position: relative;
  overflow: hidden;
}

#portfolio .items .work-item .FhP-work-body .image img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  left: 0px;
  right: -50px;
  margin: auto;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  width: auto;
}

#portfolio .items .work-item .FhP-work-body .image .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(19, 28, 144, 0.85);
  color: #fff;
  opacity: 0;
}

#portfolio .items .work-item .FhP-work-body .image:hover .hover {
  opacity: 1;
}

#portfolio .items .work-item .FhP-work-body .image .hover .link {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 30px;
  font-size: 17px;
  font-weight: 500;
}

#portfolio .items .work-item .FhP-work-body .image.mobile img {
  right: 0;
  max-height: 85%;
}

#portfolio .items .work-item .FhP-work-body .image.tablet img {
  right: 0;
  max-height: 85%;
  max-width: 92%;
}

#portfolio .more {
  color: #7e6cff;
  background: #fff;
  border: 0;
  text-transform: uppercase;
  padding: 17px 29px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 0.9px;
  margin-top: 18px;
  display: inline-block;
  -webkit-box-shadow: 16px 15px 60px -5px #c5c5c5;
  box-shadow: 16px 15px 60px -5px #c5c5c5;
  margin: auto;
  display: block;
  margin-top: 44px;
}

#portfolio .more:hover {
  background: #fafafa;
}

#portfolio .items .work-item.cartoonz .FhP-work-body span {
  background: #fa0004;
}

#portfolio .items .work-item.cartoonz .FhP-work-body .image {
  background: #182833;
}

#portfolio .items .work-item.cartoonz .FhP-work-body .image .hover {
  background: rgba(19, 19, 19, 0.85);
}

#portfolio .items .work-item.kingston .FhP-work-body span {
  background: #ed7202;
}

#portfolio .items .work-item.kingston .FhP-work-body .image {
  background: #ffffff;
}

#portfolio .items .work-item.kingston .FhP-work-body .image .hover {
  background: rgba(233, 166, 20, 0.85);
}

#portfolio .items .work-item.angel .FhP-work-body span {
  background: #005c9e;
}

#portfolio .items .work-item.angel .FhP-work-body .image {
  background: #ffffff;
}

#portfolio .items .work-item.angel .FhP-work-body .image .hover {
  background: rgba(0, 92, 158, 0.85);
}

#portfolio .items .work-item.futwiz .FhP-work-body span {
  background: #8bbe0b;
}

#portfolio .items .work-item.futwiz .FhP-work-body .image {
  background: #1a1717;
}

#portfolio .items .work-item.futwiz .FhP-work-body .image .hover {
  background: rgba(139, 190, 11, 0.85);
}

#portfolio .items .work-item.tag .FhP-work-body span {
  background: #f42e8e;
}

#portfolio .items .work-item.tag .FhP-work-body .image {
  background: #272727;
}

#portfolio .items .work-item.tag .FhP-work-body .image .hover {
  background: rgba(244, 46, 142, 0.85);
}

#portfolio .items .work-item.modelshop .FhP-work-body span {
  background: #26d8bf;
}

#portfolio .items .work-item.modelshop .FhP-work-body .image {
  background: #111527;
}

#portfolio .items .work-item.modelshop .FhP-work-body .image .hover {
  background: rgba(38, 216, 191, 0.85);
}

#portfolio .items .work-item.inovo .FhP-work-body span {
  background: #26d8bf;
}

#portfolio .items .work-item.inovo .FhP-work-body .image {
  background: #e7e7e7;
}

#portfolio .items .work-item.sh .FhP-work-body span {
  background: #F5A422;
}

#portfolio .items .work-item.sh .FhP-work-body .image {
  background: #edf4f9;
}

#portfolio .items .work-item.sh .FhP-work-body .image .hover {
  background: rgba(245, 164, 34, 0.85);
}

#portfolio .items .work-item.taj .FhP-work-body span {
  background: #e5151b;
}

#portfolio .items .work-item.taj .FhP-work-body .image {
  background: #fff;
}

#portfolio .items .work-item.taj .FhP-work-body .image .hover {
  background: rgba(229, 21, 27, 0.85);
}

#portfolio .items .work-item.certes .FhP-work-body span {
  background: #106c92;
}

#portfolio .items .work-item.certes .FhP-work-body .image {
  background: #fff;
}

#portfolio .items .work-item.certes .FhP-work-body .image .hover {
  background: rgba(16, 108, 146, 0.85);
}

#portfolio .items .work-item.pp .FhP-work-body span {
  background: #7D1228;
}

#portfolio .items .work-item.pp .FhP-work-body .image {
  background: #e4dcd2;
}

#portfolio .items .work-item.pp .FhP-work-body .image .hover {
  background: rgba(125, 18, 40, 0.85);
}

#portfolio .items .work-item.pyramid .FhP-work-body span {
  background: #00ADEF;
}

#portfolio .items .work-item.pyramid .FhP-work-body .image {
  background: #fff;
}

#portfolio .items .work-item.pyramid .FhP-work-body .image .hover {
  background: rgba(0, 173, 239, 0.85);
}

#portfolio .items .work-item.garden .FhP-work-body span {
  background: #136A2F;
}

#portfolio .items .work-item.garden .FhP-work-body .image {
  background: #b1b1b1;
}

#portfolio .items .work-item.garden .FhP-work-body .image .hover {
  background: rgba(19, 106, 47, 0.85);
}

#portfolio .items .work-item.pc .FhP-work-body span {
  background: #FE575C;
}

#portfolio .items .work-item.pc .FhP-work-body .image {
  background: #fff;
}

#portfolio .items .work-item.pc .FhP-work-body .image .hover {
  background: rgba(254, 87, 92, 0.85);
}

#portfolio .items .work-item.carshield .FhP-work-body span {
  background: #55BE69;
}

#portfolio .items .work-item.carshield .FhP-work-body .image {
  background: #fff;
}

#portfolio .items .work-item.carshield .FhP-work-body .image .hover {
  background: rgba(85, 190, 105, 0.85);
}

#portfolio .items .work-item.nmible .FhP-work-body span {
  background: #1da782;
}

#portfolio .items .work-item.nmible .FhP-work-body .image {
  background: #e8fafc;
}

#portfolio .items .work-item.nmible .FhP-work-body .image .hover {
  background: rgba(31, 153, 111, 0.85);
}

#portfolio .items .work-item.idol .FhP-work-body span {
  background: #562576;
}

#portfolio .items .work-item.idol .FhP-work-body .image {
  background: #f5f5ff;
}

#portfolio .items .work-item.idol .FhP-work-body .image .hover {
  background: rgba(59, 19, 87, 0.85);
}

#portfolio .items .work-item.givaway .FhP-work-body span {
  background: #000;
}

#portfolio .items .work-item.givaway .FhP-work-body .image {
  background: #f9f9f9;
}

#portfolio .items .work-item.givaway .FhP-work-body .image .hover {
  background: rgba(0, 0, 0, 0.75);
}

#portfolio .items .work-item.mis .FhP-work-body span {
  background: #f0e011;
}

#portfolio .items .work-item.mis .FhP-work-body .image {
  background: #f9f9f9;
}

#portfolio .items .work-item.mis .FhP-work-body .image .hover {
  background: rgba(0, 12, 42, 0.68);
}

.wrap {
  width: 95%;
  max-width: 1250px;
  margin: auto;
}

@media (max-width: 1300px) {
  #portfolio .items .work-item .body .title {
    font-size: 20px;
  }
}

@media (max-width: 1180px) {
  #services .items .item {
    width: 50%;
  }
  #portfolio .items .work-item {
    width: 33%;
  }
  #portfolio .items .work-item:last-child {
    display: none;
  }
}

@media (max-width: 920px) {
  #portfolio h3 a {
    display: block;
    width: 199px;
    margin: auto;
    margin-top: 28px;
  }
  #portfolio .items .work-item {
    width: 50%;
  }
  #portfolio .items .work-item:last-child {
    display: inline-block;
  }
}

@media (max-width: 620px) {
  #portfolio h3 {
    font-size: 28px;
  }
  .FiP-row-padding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #portfolio .items .work-item .body .image {
    height: 250px;
  }
  .FiP-card {
    margin: 4px;
  }
  .FiP-display-container {
    width: 70%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
}

@media (max-width: 538px) {
  #portfolio .items .work-item .body .title {
    font-size: 15px;
  }
  #portfolio .items .work-item .body .title span {
    width: 12px;
  }
  #portfolio .items .work-item .body .image {
    height: 218px;
  }
}

@media (max-width: 460px) {
  #portfolio .items .work-item {
    width: 100%;
  }
  #portfolio .items .work-item .body .title {
    font-size: 22px;
  }
  #portfolio .items .work-item .body .image {
    height: 302px;
  }
}

@media (max-width: 580px) {
  #services .items .item .body h2 {
    font-size: 22px;
  }
  #portfolio h3 {
    font-size: 25px;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.fa-2x {
  font-size: 2em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-inverse {
  color: #fff;
}

body, button {
  margin: 0;
}

.fa-twitter:before {
  content: "\f099";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-linkedin-square:before {
  content: "\f08c";
}

.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-slideshare:before {
  content: "\f1e7";
}

.fa-sliders:before {
  content: "\f1de";
}

.fa-git-square:before {
  content: "\f1d2";
}

.fa-gittip:before, .fa-gratipay:before {
  content: "\f184";
}

.fa-github-alt:before {
  content: "\f113";
}

.fa-github:before {
  content: "\f09b";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-git:before {
  content: "\f1d3";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-envelope-o:before {
  content: "\f003";
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

body {
  font-family: helvetica neue,Helvetica,sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: helvetica neue,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

h4, .h4 {
  font-size: 1rem;
}

h5, .h5 {
  font-size: .875rem;
}

h6, .h6 {
  font-size: .75rem;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.mxn2 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p1 {
  padding: .5rem;
}

.py1 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.px1 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.p2 {
  padding: 1rem;
}

.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p3 {
  padding: 2rem;
}

.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.p4 {
  padding: 4rem;
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.sm-show, .md-show, .lg-show {
  display: none !important;
}

.display-none {
  display: none;
}

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}

.col {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 40em) {
  .sm-col {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .sm-col-3 {
    width: 25%;
  }
  .sm-col-9 {
    width: 75%;
  }
}

a {
  color: #0074d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  background-color: transparent;
  border-radius: 3px;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.bg-cover {
  background-size: cover;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.125);
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.125);
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.125);
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.125);
}

.rounded {
  border-radius: 3px;
}

.circle {
  border-radius: 50%;
}

.rounded-top {
  border-radius: 3px 3px 0 0;
}

.rounded-right {
  border-radius: 0 3px 3px 0;
}

.rounded-bottom {
  border-radius: 0 0 3px 3px;
}

.rounded-left {
  border-radius: 3px 0 0 3px;
}

.not-rounded {
  border-radius: 0;
}

.black, .dark-gray {
  color: #111;
}

.gray, .mid-gray {
  color: #aaa;
}

.silver, .light-gray {
  color: #ddd;
}

.muted {
  opacity: .5;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

.tight-line-height {
  line-height: 1.35rem;
}

a {
  color: #0096cc;
  text-decoration: none;
}

a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover, a h6:hover, .link-hover-color {
  color: #007199;
  text-decoration: none;
}

a img {
  border: none;
}

.hover-background:hover {
  background-color: #007199;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: .875rem;
}

h6, .h6 {
  font-size: .75rem;
}

.header-color {
  color: #3a4145;
}

.body-color {
  color: #2e2e2e;
}

.page-title {
  font-size: 3rem;
}

.container {
  max-width: 38em;
}

li {
  margin: .4em 0;
}

.shadow {
  -webkit-box-shadow: 3px 3px 10px 0 rgba(128, 128, 128, 0.4);
          box-shadow: 3px 3px 10px 0 rgba(128, 128, 128, 0.4);
}

.no-line-height {
  line-height: 0;
}

figure {
  margin: 1rem 0;
  padding: 0;
}

figcaption {
  text-align: center;
  font-size: .75rem;
  margin-top: -.4rem;
  line-height: 1.2rem;
}

a .circle:hover {
  border-color: gray;
}

.valign-top {
  vertical-align: top;
}

.valign-middle {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: bottom;
}

.bg-splash-gray {
  background-color: #f5f8fa;
}

.button-height {
  line-height: 2.125rem;
}

code, tt {
  padding: 1px 3px;
  font-family: Inconsolata,monospace,sans-serif;
  font-size: .85em;
  white-space: pre-wrap;
  border: #e3edf3 1px solid;
  background: #f7fafb;
  border-radius: 2px;
}

pre {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 1.75em;
  border: #e3edf3 1px solid;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata,monospace,sans-serif;
  font-size: .9em;
  white-space: pre;
  overflow: auto;
  background: #f7fafb;
  border-radius: 3px;
}

pre code, tt {
  font-size: inherit;
  white-space: -moz-pre;
  white-space: pre;
  background: 0 0;
  border: none;
  padding: 0;
}

.screencast-wrapper {
  width: 89%;
  padding-bottom: 452px;
}

.lazyload {
  opacity: 0;
}

.circle-line:after {
  display: block;
  content: "";
  width: .5rem;
  height: .5rem;
  border: #e7eef2 .1rem solid;
  position: relative;
  top: 2.3rem;
  left: 50%;
  margin-left: -.25rem;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: #fff 0 0 0 5px;
          box-shadow: #fff 0 0 0 5px;
}

.circle-line-image {
  line-height: 0;
}

.circle-line-image img {
  width: 68px;
  height: 68px;
  padding: 5px;
}

.circle-line-image:after {
  display: block;
  content: "";
  border-bottom: #e7eef2 1px solid;
  position: relative;
  top: -40px;
  z-index: -100;
}

.light-inset-shadow {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}

.clear-both {
  clear: both;
}

.square-100 {
  width: 100px;
  height: 100px;
}

.max-height-120 {
  max-height: 120px;
}

.width-120 {
  width: 120px;
}

.wow {
  visibility: visible;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-name: wobble;
          animation-name: wobble;
}
/*# sourceMappingURL=Project3.css.map */